<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <h2>Create Account</h2>
    <form action="process" method="post">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" required /></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" required /></td>
            </tr>
            <tr>
                <td>Fullname</td>
                <td><input type="text" name="fullname" required /></td>
            </tr>
            <tr>
                <td>Bio</td>
                <td><textarea name="bio" required></textarea></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Create" />
                    <input type="reset" value="Reset" />
                </td>
            </tr>
        </table> 
    </form>
</body>
</html>